body{
    background-color: #ffff;
    width: 1300px;
    height: 800px;
    display: block;
    position: relative;
    font-size: 20%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: none;
    overflow: hidden;
}


.cursorshi{
    display: flex;
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: transparent;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
}


   .spoon{
    position: absolute;
    width: 10%;

    top: 0%;
    margin-left: 130%;

    transform: rotateZ(-90deg);
   }
     .spoon:hover{
        transform: rotateZ(-90deg) scale(1.7, 1.7);
        filter: brightness(112%);
     }



      .fork{
    position: absolute;
    width: 10%;

    top: -20%;
    margin-left: 130%;

    transform: rotateZ(-90deg);
   }
        .fork:hover{
        transform: rotateZ(-90deg) scale(1.7, 1.7);
        filter: brightness(112%);
     }


.rentry{
    position: absolute;
    width: 77%;
    margin-left: -8%;
    top: -3%;
}
