body{
    background-color: #ffff;
    width: 1300px;
    height: 800px;
    display: block;
    position: relative;
    font-size: 20%;
    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;
}


.cursorshi{
    display: flex;
    position: fixed;
    width: 16%;

    background-color: transparent;
    top: 6%;
    left: 60%;
    pointer-events: none;
    z-index: 999;
}


    @keyframes transitionIn {
    from {
        opacity: 0%;
        transform: rotateY(90deg);
    }


    to {
        opacity: 1;
        transform: rotateY(0);
    }
}

    #all {
        animation: transitionIn 2.67s;
    }




   .spoon{
    position: absolute;
    width: 10%;

    top: 0%;
    margin-left: 130%;

    transform: rotateZ(-90deg);
   }
     .spoon:hover{
        transform: rotateZ(-90deg) scale(1.7, 1.7);
        filter: brightness(112%);
     }



      .fork{
    position: absolute;
    width: 10%;

    top: -20%;
    margin-left: 130%;

    transform: rotateZ(-90deg);
   }
        .fork:hover{
        transform: rotateZ(-90deg) scale(1.7, 1.7);
        filter: brightness(112%);
     }


.rentry{
    position: absolute;
    width: 77%;
    margin-left: -8%;
    top: -3%;
}







#box{
    position: relative;
    top: 10%;
    left: 20%;
    width: 1000px;
    height: 800px;
    background-color: #50a4e4;
    display: grid;
    border: 30px #195ebd solid;
    border-radius: 10%;
    overflow: hidden;
    z-index: 10;
}
    .slot1{
        position: absolute;
        width: 32%;
        height: 43%;
        background-color: antiquewhite;
        border-radius: 10%;
        top: 2%;
        left: 2%;
    }
    .slot2{
        position: absolute;
        width: 32%;
        height: 43%;
        background-color: antiquewhite;
        border-radius: 10%;
        top: 2%;
        left: 36%;
    }
    .slot3{
        position: absolute;
        width: 66%;
        height: 48%;
        background-color: antiquewhite;
        border-radius: 10%;
        top: 50%;
        left: 2%;
    }
    .slot4{
        position: absolute;
        width: 34%;
        height: 105%;
        background-color: antiquewhite;
        border-radius: 30%;
        top: 0%;
        left: 70%;
    }




#food{
    position: relative;
    top: 10%;
    left: 20%;
    width: 1000px;
    height: 800px;
    z-index: 12;
}
.img{
    position: absolute;
    top: 0%;
    left: 0;
    width: 12%;
    flex: wrap;
    display: flex;
    cursor: grab;
}
    .img:active{
    cursor: grabbing;
    }

       #pizza{
        position: absolute;
        width: 170%;

    }
        #onigiri{
        position: absolute;
        width: 170%;

    }
        #salmon{
        position: absolute;
        width: 160%;

    }
        #sushi{
        position: absolute;
        width: 160%;

    }
        #fiheggs{
        position: absolute;
        width: 162%;

    }
        #milk{
        position: absolute;
        width: 122%;

    }
        #fihsushi{
        position: absolute;
        width: 162%;

    }
        #eggtoast{
        position: absolute;
        width: 222%;

    }
        #chicken{
        position: absolute;
        width: 282%;

    }
        #rice{
        position: absolute;
        width: 222%;

    }
        #bread{
        position: absolute;
        width: 272%;

    }
        #burger{
        position: absolute;
        width: 172%;

    }


.bentobox{
    width: 100%;
    height: 100%;
    
}
